html{
    font-size:12px !important;
    font-family: Roboto !important;
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding:0;
}

.fs-1{
    font-size: 2rem !important;
}

.fs-2 {
    font-size: 1.5rem;
}

.px-4 { 
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.pt-6 {
    padding-top: 3rem !important;
}